[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MedLEA"]
	path = MedLEA
	url = https://github.com/cran/MedLEA
[submodule "covid19srilanka"]
	path = covid19srilanka
	url = https://github.com/cran/covid19srilanka
